<!DOCTYPE html>
<html>

    <head>
        <title>Recording</title>
    </head>
    <body>
        <h1>Record your finance!</h1>
        <form action="/recording" method="POST">
            <input name="info" id="info" type="text" placeholder="Info">
            <input name="income" id="income" type="number" placeholder="Income">
            <input name="expense" id="expense" type="number" placeholder="Expense">
            <button class="btn btn-default" type="submit">Recording</button>
        </form>
    </body>
</html>
